@import '../../styles/variables';

.container {
  display: block;

  p {
    margin-top: $margin-xs;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-top: $margin-m;
  }
}
