@import '../../styles/variables';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $margin-s 0;
  margin-top: 0;

  &__text {
    font-size: $font-s;
  }
}
