@import 'styles/variables';

#root {
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 570px;
  margin: 0 auto;
}
