@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  font-family: 'JetBrains Mono', monospace;
  background-color: $background-color;
  color: $font-color-text;
}

a {
  text-decoration: none;
  color: $font-color-link;
  font-weight: 700;
}
